<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="customer-import" xsi:type="object">Awm\CustomerImport\Console\ImportCommand</item>
            </argument>
        </arguments>
    </type>

    <type name="Awm\CustomerImport\Model\Files">
        <arguments>
            <argument name="files" xsi:type="array">
                <item name="JSON" xsi:type="string">Awm\CustomerImport\Model\Files\Json</item>
                <item name="CSV" xsi:type="string">Awm\CustomerImport\Model\Files\Csv</item>
            </argument>
        </arguments>
    </type>
</config>
